<div class="box">
  <!--  <div class="rectangle"></div>-->
  <div class="content">
    <div class="title">
      <h1 class="mat-display-1">Sign Up</h1>
      <h3>Start your health care here!</h3>
    </div>


    <form (ngSubmit)="submit()" [formGroup]="patient" class="test">
      <h2>Full Name</h2>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>Enter your full name</mat-label>
        <input formControlName="name" matInput name="name" placeholder="your name" required>
        <mat-error
          *ngIf="patient.get('name')?.invalid && (patient.get('name')?.dirty || patient.get('name')?.touched) && patient.get('name')?.errors?.['required']">
          Name is required!
        </mat-error>
      </mat-form-field>

      <h2>Email</h2>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>Enter your email</mat-label>

        <input formControlName="email" matInput name="email" placeholder="user@example.com" required>
        <mat-error *ngIf="!patient.get('email')?.errors?.['required'] && patient.get('email')?.errors?.['pattern']">
          Please enter your valid email address!
        </mat-error>
        <mat-error
          *ngIf="patient.get('email')?.invalid && (patient.get('email')?.dirty || patient.get('email')?.touched) && patient.get('email')?.errors?.['required']">
          Email is required!
        </mat-error>

      </mat-form-field>

      <h2>Password</h2>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput required>
        <mat-error
          *ngIf="!patient.get('password')?.errors?.['required'] && patient.get('password')?.errors?.['pattern']">
          Please enter your password more than 5 letter!
        </mat-error>
        <mat-error
          *ngIf="patient.get('password')?.invalid && (patient.get('password')?.dirty || patient.get('password')?.touched) && patient.get('password')?.errors?.['required']">
          Password is required!
        </mat-error>
        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                matSuffix>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <h2>Date of Birth</h2>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>Choose your date of birth</mat-label>

        <input [matDatepicker]="picker" formControlName="dob" matInput name="dob" placeholder="dd/mm/yyyy" required>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!--        <mat-error *ngIf="!patient.get('email')?.errors?.['required'] && patient.get('email')?.errors?.['pattern']">-->
        <!--          Please enter your valid email address!-->
        <!--        </mat-error>-->
        <!--        <mat-error-->
        <!--          *ngIf="patient.get('email')?.invalid && (patient.get('email')?.dirty || patient.get('email')?.touched) && patient.get('email')?.errors?.['required']">-->
        <!--          Email is required!-->
        <!--        </mat-error>-->

      </mat-form-field>

      <h2>Gender</h2>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>Select your gender</mat-label>
        <mat-select [(ngModel)]="selectedOption" name="gender">

          <!--          <mat-option value="option1">Female</mat-option>-->
          <!--          <mat-option value="option2">Male</mat-option>-->
          <mat-option *ngFor="let gender of options" [value]="gender">
            {{gender.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <h2>Phone Number</h2>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>Enter your phone number</mat-label>
        <input formControlName="phone" matInput name="phone" placeholder="08***" required>
        <mat-error *ngIf="!patient.get('phone')?.errors?.['required'] && patient.get('phone')?.errors?.['pattern']">
          Please enter your valid phone number!
        </mat-error>
        <mat-error
          *ngIf="patient.get('phone')?.invalid && (patient.get('phone')?.dirty || patient.get('phone')?.touched) && patient.get('phone')?.errors?.['required']">
          Phone number is required!
        </mat-error>
      </mat-form-field>

      <h2>Address</h2>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>Enter your Address</mat-label>
        <input formControlName="address" matInput name="address" placeholder="Jalan Mangga Dua 1 No. 45" required>
        <!--        <mat-error *ngIf="!patient.get('phone')?.errors?.['required'] && patient.get('phone')?.errors?.['pattern']">-->
        <!--          Please enter your valid phone number!-->
        <!--        </mat-error>-->
        <!--        <mat-error-->
        <!--          *ngIf="patient.get('phone')?.invalid && (patient.get('phone')?.dirty || patient.get('phone')?.touched) && patient.get('phone')?.errors?.['required']">-->
        <!--          Phone number is required!-->
        <!--        </mat-error>-->
      </mat-form-field>

      <button [disabled]="!patient.valid" class="mt-4 mb-3" color="primary" mat-raised-button
              style="width: 100%;border-radius: 0.7rem" type="submit">
        Sign Up
      </button>
      <div class="bottom">
        <h3 class="mt-5">Already have an account? <a routerLink="/login">Log In</a></h3>
      </div>
    </form>
  </div>
</div>
