<div class="box">
  <!--  <div class="rectangle"></div>-->
  <div class="content">
    <div class="title">
      <h1 class="mat-display-1">Sign Up</h1>
      <h3>Start your health care here!</h3>
    </div>

    <form (ngSubmit)="submit()" [formGroup]="register" class="test">
      <h2>Full Name</h2>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>Enter your full name</mat-label>
        <input formControlName="name" name="name" matInput placeholder="your name" required>
        <mat-error
          *ngIf="register.get('name')?.invalid && (register.get('name')?.dirty || register.get('name')?.touched) && register.get('name')?.errors?.['required']">
          Name is required!
        </mat-error>
      </mat-form-field>

      <h2>Email</h2>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>Enter your email</mat-label>
        <input formControlName="email" name="email" matInput placeholder="user@example.com" required>
        <mat-error *ngIf="!register.get('email')?.errors?.['required'] && register.get('email')?.errors?.['pattern']">
          Please enter your valid email address!
        </mat-error>
        <mat-error
          *ngIf="register.get('email')?.invalid && (register.get('email')?.dirty || register.get('email')?.touched) && register.get('email')?.errors?.['required']">
          Email is required!
        </mat-error>
      </mat-form-field>

      <h2>Password</h2>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput required>
        <mat-error *ngIf="!register.get('password')?.errors?.['required'] && register.get('password')?.errors?.['pattern']">
          Please enter your password more than 5 letter!
        </mat-error>
        <mat-error
          *ngIf="register.get('password')?.invalid && (register.get('password')?.dirty || register.get('password')?.touched) && register.get('password')?.errors?.['required']">
          Password is required!
        </mat-error>
        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
          matSuffix>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <h2>Phone Number</h2>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>Enter your phone number</mat-label>
        <input formControlName="phone" name="phone" matInput placeholder="08***" required>
        <mat-error *ngIf="!register.get('phone')?.errors?.['required'] && register.get('phone')?.errors?.['pattern']">
          Please enter your valid phone number!
        </mat-error>
        <mat-error
          *ngIf="register.get('phone')?.invalid && (register.get('phone')?.dirty || register.get('phone')?.touched) && register.get('phone')?.errors?.['required']">
          Phone number is required!
        </mat-error>
      </mat-form-field>

      <button class="mt-4 mb-3" color="primary" mat-raised-button style="width: 100%;border-radius: 0.7rem"
        type="submit">
        Sign Up
      </button>
      <div class="bottom">
        <h3 class="mt-5">Already have an account? <a routerLink="/register">Log In</a></h3>
      </div>
    </form>

  </div>
</div>

    <!--    <div class="searchDisease">-->
    <!--      <h2>Disease</h2>-->
    <!--      <app-search-bar></app-search-bar>-->
    <!--    </div>-->
    <!--    -->
    <!--    <app-disease></app-disease>-->
