.box {
  height: 100vh;

  background-color: rgba(96, 164, 245, 0.2);
}

.content {
  padding: 2.3rem 1.3rem 2rem 1.3rem;
}

header {
  padding-top: 1.5rem;
  text-align: center;

  h2 {
    font-family: "Helvetica Neue";
    font-size: 14pt;
    font-weight: 500;
  }
}

.row {
  --bs-gutter-x: 0rem;
  margin-bottom: 14px;
}
