<div class="card card-disease-image mt-3 items-center justify-start position-relative border-0">
  <div class="col-12 d-flex">
    <!--    <div class="card-body" routerLink="/records-hospitals">-->
    <div *ngFor="let element of disease_groups" class="card-body" routerLink="/records-hospitals">
      <div class="d-flex align-items-center" style="justify-content: space-between">
        <div>
          <span class="disease-icon">
            <img alt="covid19" class="rounded-circle" height="35" src="../../../../../assets/images/covid19.png"
                 width="35">
          </span>
          <span class="px-1 fs-5 fw-light">{{element.diseases.name}}</span>
        </div>
        <div>
          <i class="material-icons icon">chevron_right</i>
        </div>
        <!--        <div class="position-absolute top-50 translate-middle-y">-->
        <!--          <a href="#" class="text-muted" data-abc="true">-->
        <!--            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">-->
        <!--              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>-->
        <!--            </svg>-->
        <!--          </a>-->
        <!--        </div>-->
      </div>

    </div>

  </div>
</div>
