<div class="box">
  <header>
    <div class="header-component row">
      <span (click)=previousPage() class="material-icons col-3">arrow_back_ios</span>
    </div>
  </header>

  <div class="content">
    <div class="title">
      <h1 class="mat-display-1">Check your mail</h1>
      <h3>Please enter 4 digit OTP code, that we have sent to your email</h3>
    </div>

    <form (ngSubmit)="submit()" action="">
      <input class="otp" maxlength=1 oninput='digitValidate(this)' onkeyup='tabChange(1)' type="text">
      <input class="otp" maxlength=1 oninput='digitValidate(this)' onkeyup='tabChange(2)' type="text">
      <input class="otp" maxlength=1 oninput='digitValidate(this)' onkeyup='tabChange(3)' type="text">
      <input class="otp" maxlength=1 oninput='digitValidate(this)' onkeyup='tabChange(4)' type="text">
    </form>

    <div class="buttom-text mt-5">
      <h4 class="first-text">Didn't receive code?</h4>
      <h4 class="second-text">Resend code</h4>
    </div>

    <button class="mt-3 mb-3" color="primary" mat-raised-button style="width: 100%;border-radius: 0.7rem"
            type="submit">
      Verify
    </button>
  </div>
</div>
