<footer>
  <mat-toolbar class="toolbarNav">
    <button (click)="goToHome()" mat-flat-button>
      <mat-icon class="material-icons color_blue">
        assignment
      </mat-icon>
      <span>Health Record</span>
    </button>
    <button (click)="goToHospitals()" mat-flat-button>
      <mat-icon class="material-icons color_blue">local_hospital
      </mat-icon>
      <span>Hospitals</span>
    </button>
    <button (click)="goToProfile()" mat-flat-button>
      <mat-icon class="material-icons color_blue">person</mat-icon>
      <span>Profile</span>
    </button>
  </mat-toolbar>
</footer>
