<div class="box">
  <div class="rectangle"></div>
  <header>
    <h2>Profile</h2>
  </header>

  <div class="content">
    <div class="card text-center mb-3"></div>
    <div class="profile-img text-center">
      <img class="rounded-circle block" src="assets/images/account.png" width="140">
    </div>

    <div class="text-center">
      <h1 class="mb-0">{{patient.name}}</h1>
      <span class="text-email text-muted d-block mb-3">{{patient.email}}</span>
      <div class="password-section">
        <span class="text-muted material-symbols-outlined lock-icon">lock</span>
        <span class="text-muted">• • • • • • • • • • •</span>
      </div>
      <!--      <span class="text-email text-muted d-block mb-2">{{patient.email}}</span>-->
    </div>

    <div class="user-profile p-3">
      <div class="edit-section mb-1">
        <a routerLink="/edit-profile">
          <span class="material-symbols-outlined">edit</span>
          <a class="mt-1 edit-text">Edit</a>
        </a>
      </div>

      <div class="user-profile-data">
        <h3 class="key text-muted">Date of Birth</h3>
        <h3 class="value">{{patient.dob| date}}</h3>
      </div>

      <div class="user-profile-data">
        <h3 class="key text-muted">Gender</h3>
        <h3 class="value">{{patient.gender}}</h3>
      </div>

      <div class="user-profile-data">
        <h3 class="key text-muted">Address</h3>
        <h3 class="value">{{patient.address}}</h3>
      </div>

      <div class="user-profile-data">
        <h3 class="key text-muted">Phone Number</h3>
        <h3 class="value">{{patient.phone}}</h3>
      </div>

      <div class="text-center">
        <button (click)="onOpenDialog()" class="mt-3 btn btn-primary logout-btn text-center">Logout</button>
      </div>
    </div>


  </div>

  <app-bottom-navbar></app-bottom-navbar>
</div>
