<div class="search-container">
  <div class="search-form">
    <span class="material-symbols-outlined icon-search">search</span>
    <input
      [(ngModel)]="searchDisease"
      [placeholder]="placeholder"
      class="search-input"
      name="searchBar"
      type="text"
    />
  </div>
</div>

<div *ngFor="let disease of diseases | filter:searchDisease;"
     class="card card-disease-image mt-3 items-center justify-start position-relative border-0">
  <div class="col-12 d-flex">
    <div (click)="goToRecords(disease)" class="card-body" role="button">
      <div class="d-flex align-items-center" style="justify-content: space-between">
        <span class="disease-icon">
          <img alt="virus" class="rounded-circle" height="35" src="../../../../assets/images/covid19.png"
               width="35">
        </span>
        <span class="px-1 fs-5 fw-normal">{{disease.name}}</span>

        <i class="material-icons icon">chevron_right</i>
      </div>
    </div>
  </div>
</div>
