.box {
  //background-color: rgba(101, 199, 247, 0.1);
  height: 100vh;
}

.content {
  padding: 2.3rem 1.3rem 2rem 1.3rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
}

.title h1 {
  margin-bottom: 0;
  font-weight: 500;
  font-family: Helvetica;
  letter-spacing: 0.3vw;
}

.patient-name {
  font-weight: 300;
  margin-bottom: 0;
}

.searchDisease {
  margin-top: 5rem;
  margin-bottom: 1.5rem;

  h2 {
    font-size: 15pt;
    margin-bottom: 0.6rem;
  }
}

.rectangle {
  height: 330px;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-color: rgba(96, 164, 245, 0.5);
}
