.box {
  //background-color: rgba(101, 199, 247, 0.1);
  height: 100vh;
}

.content {
  padding: 0.5rem 1.3rem 2rem 1.3rem;
}

.title h1 {
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: 0.3vw;
}

.listDisease {
  margin-top: 2rem;
  margin-bottom: 2rem;

  h2 {
    font-size: 15pt;
    margin-bottom: 0.6rem;
  }
}

.title h3 {
  font-weight: 200;
}

.rectangle {
  height: 230px;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-color: rgba(96, 164, 245, 0.5);
  border-bottom-left-radius: 1.7rem;
  border-bottom-right-radius: 1.7rem;
}

header {
  padding-top: 1.5rem;
  text-align: center;
}

.row {
  --bs-gutter-x: 0rem;
  margin-bottom: 14px;
}

.content-1 {
  justify-content: center;
  display: flex;
  align-items: end;
}

.hospital-name {
  font-size: 22pt;
  font-family: Helvetica;
  font-weight: 500;
  margin-bottom: 0;
}

img {
  width: 35px;
  margin-right: 0.8rem;
}
