<div class="box">
  <div class="rectangle"></div>
  <header>
    <div class="header-component row">
      <span class="material-icons col-3">arrow_back_ios</span>
      <h2 class="col-6">EHR Detail</h2>
    </div>
  </header>

  <div class="content">
    <h1>Date</h1>
    <h2>Blockchain Code: </h2>
    <!--    value={{patients.hospitals.cipher.diagnoses[0].date}}-->

    <div class="read-ehr mt-5">
      <div class="mb-5">
        <label class="left-section-title col-form-label-lg">Disease</label>
        <h3>Diabetes</h3>
      </div>
      <div class="mb-5">
        <label class="left-section-title col-sm-3 col-form-label-lg">Hospital</label>
        <h3>Husada</h3>
      </div>
      <div class="mb-4">
        <label class="left-section-title col-sm-3 col-form-label-lg">Diagnose</label>
        <p>Detail Diagnose</p>
      </div>
    </div>
  </div>
</div>
