<div class="card card-disease-image mt-3 items-center justify-start position-relative border-0">
  <div class="col-12 d-flex">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="disease-icon">
          <img class="rounded-circle" src="./assets/images/covid19.png" alt="covid19" width="35" height="35">
        </div>
        <div class="px-4 flex">
          <div class="fs-5 fw-light">Covid-19</div>
        </div>
<!--        <div class="position-absolute top-50 translate-middle-y">-->
<!--          <a href="#" class="text-muted" data-abc="true">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">-->
<!--              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>-->
<!--            </svg>-->
<!--          </a>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
