.search {
  &-container {
    height: 60px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &-form {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    display: flex;
  }

  &-input[type="text"] {
    padding: 10px;
    height: 25px;
    border-radius: 0.7rem;
    //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #f3f2f2;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-width: 0;

    &:focus[type="text"] {
      border: 0px solid rgb(63, 81, 181, 0.8);
      box-shadow: 0 0 0;
    }
  }
}

.icon {
  padding: 10px 0px 10px 13px;
  min-width: 37px;
  background-color: #f3f2f2;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  height: 45px;
  color: #777676;
}

icon:focus {
  border: 2px solid rgb(63, 81, 181, 0.8);
}

.search-input {
  width: 100%;
  padding: 10px;
  text-align: left;
}

::placeholder {
  color: #818181;
}
