.search {
  &-container {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    position: relative;
  }

  &-form {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
  }

  &-input[type="text"] {
    padding: 10px;
    height: 25px;
    border-radius: 0.7rem;
    border-width: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;

    &:focus[type="text"] {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-bottom: inherit;
    }

  }
}

::placeholder {
  color: #969696;
}
