<div class="row">
  <div class="col-xl-6 col-md-12">
    <div class="card overflow-hidden">
      <div class="card-content">
        <div class="card-body" routerLink="records/">
          <div class="media d-flex justify-content-between">
            <div class="media-body">
              <h3>Diabetes</h3>
              <span style="font-size: 12pt">Husada</span>
            </div>
            <div class="align-self-center">
              <h1>21 Feb 22</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
