<div class="box">
  <div class="rectangle"></div>
  <header>
    <h2>Profile</h2>
  </header>

  <div class="content">
    <div class="card text-center mb-3"></div>
    <div class="profile-img text-center">
      <img class="rounded-circle block" src="../../../../../assets/images/account.png" width="140">
    </div>

    <div class="text-center">
      <h1 class="mb-0">{{patient.name}}</h1>
      <span class="text-email text-muted d-block mb-2">graciela@gmail.com</span>
      <!--      <span class="text-email text-muted d-block mb-2">{{patient.email}}</span>-->
      <button class="mt-3 btn btn-primary btn-sm edit-btn">Edit</button>
    </div>

    <div class="user-profile p-3">
      <div class="user-profile-data">
        <h3 class="key text-muted">Date of Birth</h3>
        <h3 class="value">{{patient.dob| date}}</h3>
      </div>

      <div class="user-profile-data">
        <h3 class="key text-muted">Gender</h3>
        <h3 class="value">{{patient.gender}}</h3>
      </div>

      <div class="user-profile-data">
        <h3 class="key text-muted">Address</h3>
        <h3 class="value">Abacadabra street 22</h3>
      </div>

      <div class="user-profile-data">
        <h3 class="key text-muted">Phone Number</h3>
        <h3 class="value">0812345678</h3>
      </div>
    </div>

    <!--    <app-sxearch-bar [placeholder]="placeholder"></app-sxearch-bar>-->


  </div>

  <app-bottom-navbar></app-bottom-navbar>
</div>
