<div class="box">
  <header>
    <div class="header-component row">
      <span (click)="back()" class="material-icons col-3">arrow_back_ios</span>
      <h2 class="col-6">{{disease.name}}</h2>
    </div>
  </header>


  <div class="content">
    <mat-card class="text-card-background xl">
      <h1>{{record.date | date}}</h1>
      <!--    value={{patients.hospitals.cipher.diagnoses[0].date}}-->

      <div class="read-ehr mt-5">
        <div class="mb-5">
          <label class="left-section-title col-sm-3 col-form-label-lg">Blockchain Code:</label>
          <h3 class="text-truncate">{{record.bc_tx_address}}</h3>
        </div>
        <div class="mb-5">
          <label class="left-section-title col-sm-3 col-form-label-lg">Hospital:</label>
          <h3>{{record.hospital.name}}</h3>
        </div>
        <div class="mb-5">
          <label class="left-section-title col-form-label-lg">Doctor:</label>
          <h3>dr. {{record.doctor.name}}</h3>
        </div>
        <div class="mb-4">
          <label class="left-section-title col-sm-3 col-form-label-lg">Diagnose:</label>
          <p>{{record.decipher}}</p>
        </div>
      </div>
    </mat-card>
  </div>

</div>
